
__pycache__/
*.py[cod]
*$py.class


build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


pip-log.txt
pip-delete-this-directory.txt


htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/


*.mo
*.pot

*.log
local_settings.py


instance/
.webassets-cache


*.manifest
*.spec


.vscode/
.idea/


.ipynb_checkpoints


.env
rebranding_app/config.py


*.sqlite3
